{% extends 'base.html' %}

{% block content %}
<div class="py-5"></div>
    <div class="container">
        <div class="columns is-justify-content-space-around">
            <div class="column is-half">
                <div class="card has-text-centered">
                    <form action="" method="post">
                        {% csrf_token %}
                    <div class="py-3"></div>
                    <h1 class="title has-text-centered">Inicie Sesión</h1>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input" type="username"name="username" placeholder="Usuario">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left">
                          <input class="input" name='password'type="password" placeholder="Contraseña">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      {% if Failed %}
                      <p class="has-text-danger">Las credenciales no son validas</p>
                    {% endif %}
                      <div class="py-3"></div>
                      <button class="button is-success" type="submit">Iniciar Sesion</button>
                      <a class="button" href="/usermenu/register/">Registrarse</a>
                      <div class="py-1"></div>
                      <a class="button is-info" href="/menu/0">Volver</a>
                      <div class="py-2"></div>
                    </form>
                    

                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    